<section class="tickets-section">
  <div class="tickets {{ section.title | downcase | split: " " | join: "-"}}">
    {{ section.content }}

    <a class="get-tickets" rel="noopener noreferrer" target="_blank "href="https://www.ticketfly.com/purchase/event/1834855">Get Tickets</a>
  </div>
</section>
