<header class="slider">
  {% assign sorted_artists = site.artists | sort:"position" %}
  {% for artist in sorted_artists %}
    <div class="header-slider-item">
      <img src="{{ artist.info.image }}" alt="{{ artist.info.name }}">
    </div>
  {% endfor %}
</header>
