<section class="information {{ section.title | downcase | split: " " | join: "-"}}">
  {{ section.content }}

  {% if section.info.grid %}
    <div class="grid">
      {% for grid in site.grids %}
        {% if grid.title == section.info.grid%}
          {{ grid.content }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</section>
