<section class="information {{ section.title | downcase | split: " " | join: "-"}}">
  {{ section.content }}

  {% if section.info.grid %}
    <div class="sponsor-grid">



    </div>
  {% endif %}
</section>
