<section class="information {{ section.title | downcase | split: " " | join: "-"}}">
  {{ section.content }}

  {% if section.info.grid %}
      {% for grid in site.grids %}
        {% if grid.title == section.info.grid%}
          {% if grid.info.grid-collapse == true %}
            <div class="grid grid-collapse">
              {{ grid.content }}
            </div>

          {% else %}
            <div class="grid">
              {{ grid.content }}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</section>
