<section class="line-up {{ section.title | downcase | split: " " | join: "-"}}">
  <h1>Line-Up</h1>
  <div class="line-up-artists">
    {% assign sorted_artists = site.artists | sort:"position" %}
    {% for artist in sorted_artists %}
      <a href="{{ artist.url }}">
        <img src="{{ artist.info.image }}" alt="">
      </a>
    {% endfor %}
  </div>
</section>
