<section class="line-up">
  <h1>Line-Up</h1>
  <div class="line-up-artists">
    {% for artist in site.artists %}
      <a href="{{ artist.url }}">
        <img src="{{ artist.info.image }}" alt="">
      </a>
    {% endfor %}
  </div>
</section>
