<section class="mission">
  <img class="mission-logo" src="./assets/images/irf-logo-full.svg" alt="">
  <h1 class="mission-header">{{ section.info.title }}</h1>

  {{ section.content }}

  <div class="bg">
    <img class="bg-cloud-01" src="./assets/images/cloud-01.svg" alt="">
    <img class="bg-cloud-02" src="./assets/images/cloud-02.svg" alt="">
    <img class="bg-tree-01" src="./assets/images/tree.svg" alt="">
    <img class="bg-tree-02" src="./assets/images/tree.svg" alt="">
    <img class="bg-grass" src="./assets/images/grass.svg" alt="">
  </div>
</section>
