<div class="nav fixed">
  <a class="nav-logo" href="/"><img class="nav-logo nav-logo-img" src="/assets/images/irf-logo.svg" alt="IRF Home"/></a>
</div>

<div class="nav fixed collapsed">
  <a class="nav-logo" href="/"><img class="nav-logo" src="/assets/images/irf-logo.svg" alt="IRF Home"/></a>
</div>

<div class="nav placeholder"></div>
