<div class="nav fixed">
  <a class="nav-logo" href="/"><img class="nav-logo nav-logo-img" src="/assets/images/irf-logo.svg" alt="IRF Home"/></a>
  <div class="nav-list">
    {% assign sorted_sections = site.sections | sort:"position" %}
    {% for section in sorted_sections %}
      {% if section.info.hide-in-nav != true and section.info.hidden != true %}
        <a class="nav-item" data-target=".{{ section.title | downcase | split: " " | join: "-"}}">{{ section.title | downcase | split: " " | join: "-"}}</a>
      {% endif %}
    {% endfor %}

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfr3HQ8W_-m1w5Ud7XhoW0AGHQcI8mezITv1luARJWoS7CCSw/viewform" target="_blank" rel="noopener noreferrer" class="nav-item">Volunteer</a>
  </div>
  <a class="header-get-tickets get-tickets" id="ticketBtn">Get Tickets</a>
</div>

<div class="nav fixed collapsed">
  <a class="nav-logo" href="/"><img class="nav-logo" src="/assets/images/irf-logo.svg" alt="IRF Home"/></a>

  <a class="nav-item mobile-cta" data-target=".tickets-section">Get tickets</a>

  <input type='checkbox' name='nav-toggle' value='valuable' class="nav-toggle"/>
  <label class="hamburger" for="nav-toggle">
    <hr/>
    <hr/>
    <hr/>
  </label>
  <div class="hamburger-menu">
    <div class="nav-items">
      {% assign sorted_sections = site.sections | sort:"position" %}
      {% for section in sorted_sections %}
        {% if section.info.hide-in-nav != true %}
          <a class="nav-item" data-target=".{{ section.title | downcase | split: " " | join: "-"}}">{{ section.title | downcase | split: " " | join: "-"}}</a>
        {% endif %}
      {% endfor %}
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfr3HQ8W_-m1w5Ud7XhoW0AGHQcI8mezITv1luARJWoS7CCSw/viewform" target="_blank" rel="noopener noreferrer" class="nav-item">Volunteer</a>
    </div>
  </div>
</div>

<div class="nav placeholder"></div>
