<div class="splash">
  <div class="splash-title-container">
    <div class="splash-title">
      <h1>Ithaca</h1>
      <h1>Reggae</h1>
      <h1>Fest</h1>
    </div>
  </div>
  <div class="splash-subtitle">
    <div>{{ section.info.subtitle }}</div>
  </div>
</div>
